@CHARSET "UTF-8";
.styel1{
	background-color:pink;
	display: block;/*所有引用了该类的都以块元素显示*/
	
}

.style2{
	background-color:#008000;
	font-size:39px;
	display: inline;/*以行内元素显示*/
	
}
.style3{
	color:green;
	font-size:larger;
	font-weight:bold;
	font-style:inherit;
}
/*块元素和行内元素
 
 行内元素：特点是只占内容的宽度，默认不换行 span  a
  行内元素一般放文本或者其他行内元素
  
 块元素：特点不管内容多少，都换行，同时占满整行 p div
 可以放行内元素，文本，块元素
 
 行内元素里面不能放块元素，否则会被打断
 块元素里面可以放行内元素和块元素
 

 
 */

/*
 块元素和行内元素的转换
 如果我们希望以块显示 display:block
 如果希望以行内元素显示 display：inline
 */








