
@CHARSET "UTF-8";

.controlcenter{
	width: 200px;
	height:100px;
	border: 1px solid red;
	position:absolute;
	top: 20px;
	left:150px;
}


.gamediv{
	
	width:800px;
	height:800px;
	background-color: pink;
	position: absolute;
	top:140px;
	left:20px;
}